@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .outcome{
    color:#DC2626
  }
  .income {
    color: #2563EB
  }
}

@keyframes slideIn {
  from {
    transform: translateY(+100%);
  }
  to {
    transform: translateY(0);
  }
}